openapi: 3.0.4
info:
  contact:
    email: info@finbourne.com
    name: FINBOURNE Technology
    url: https://www.finbourne.com
  description: |
    Insights is LUSID's troubleshooting, monitoring and audit application. It enables you to quickly identify issues in failed requests, and offers a detailed view of your system's operations.

    ### Error Codes

    | Code|Name|Description |
    | ---|---|--- |
    | <a name="-1">-1</a>|Unknown error|An unexpected error was encountered on our side. |
    | <a name="144">144</a>|Duplicate In Parameter Set| |
    | <a name="150">150</a>|Elastic Search Error| |
    | <a name="151">151</a>|Invalid Parameter Value| |
    | <a name="181">181</a>|Data Filter Application Failure| |
    | <a name="182">182</a>|Search Failed| |
    | <a name="411">411</a>|Sort Field Does Not Exist| |
    | <a name="653">653</a>|Request File Not Found| |
    | <a name="678">678</a>|Log not found| |
    | <a name="689">689</a>|The supplied pagination token is invalid| |
    | <a name="692">692</a>|This endpoint does not support impersonation| |
    | <a name="871">871</a>|The specified impersonated user does not exist| |
    | <a name="939">939</a>|Blocked by a Network Zone| |
  termsOfService: https://www.finbourne.com/legal/terms-conditions
  title: FINBOURNE Insights API
  version: 0.0.943
  x-logo:
    url: https://www.lusid.com/app/assets/logo_white.png
    backgroundColor: '#415464'
  x-fbn-error-codes:
    "-1":
      title: Unknown error
      description: An unexpected error was encountered on our side.
    "144":
      title: Duplicate In Parameter Set
    "150":
      title: Elastic Search Error
    "151":
      title: Invalid Parameter Value
    "181":
      title: Data Filter Application Failure
    "182":
      title: Search Failed
    "411":
      title: Sort Field Does Not Exist
    "653":
      title: Request File Not Found
    "678":
      title: Log not found
    "689":
      title: The supplied pagination token is invalid
    "692":
      title: This endpoint does not support impersonation
    "871":
      title: The specified impersonated user does not exist
    "939":
      title: Blocked by a Network Zone
  x-fbn-description: "Insights is LUSID's troubleshooting, monitoring and audit application.\
    \ It enables you to quickly identify issues in failed requests, and offers a detailed\
    \ view of your system's operations."
servers:
- url: https://fbn-prd.lusid.com/insights
security:
- {}
tags:
- description: Methods to retrieve access evaluation logs.
  name: Access Evaluations
- description: Metadata about the test application
  name: Application Metadata
- description: Methods for interacting with Auditing
  name: Auditing
- description: Methods to retrieve Candela traces and trace events.
  name: Candela Traces
- description: Metadata describing the queryable fields of each log type.
  name: Log Metadata
- description: Aggregated platform request and identity metrics for a domain.
  name: Metrics
- description: Methods to retrieve logs and content of API requests.
  name: Requests
- description: Methods to retrieve logs and content of requests to vendors.
  name: Vendor Logs
paths:
  /api/access:
    get:
      operationId: ListAccessEvaluationLogs
      parameters:
      - description: Start date from which point to fetch logs.
        explode: true
        in: query
        name: startAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: End date to which point to fetch logs.
        explode: true
        in: query
        name: endAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
        x-nullable: true
      - description: "Expression to filter the result set. Read more about [filtering\
          \ results from LUSID](https://support.lusid.com/filtering-results-from-lusid)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 3000
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Order the results by these fields. Use the '-' sign to denote\
          \ descending order e.g. -MyFieldName. Multiple fields can be denoted by\
          \ a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "When paginating, only return this number of records. The minimum\
          \ value is 0 and the maximum is 10000."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 10000
          minimum: 1
          type: integer
        style: form
        x-nullable: true
      - description: "Encoded page string returned from a previous search result that\
          \ will retrieve the next page of data. When this field is supplied, filter\
          \ and sortby fields should not be supplied."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 4500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      - description: The interval for an included histogram of the logs
        explode: true
        in: query
        name: histogramInterval
        required: false
        schema:
          format: date-span
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfAccessEvaluationLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfAccessEvaluationLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfAccessEvaluationLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListAccessEvaluationLogs: List the logs for access\
        \ evaluations."
      tags:
      - Access Evaluations
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/access/{id}:
    get:
      operationId: GetAccessEvaluationLog
      parameters:
      - description: The identifier of the access evaluation to obtain the log for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 200
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AccessEvaluationLog'
            application/json:
              schema:
                $ref: '#/components/schemas/AccessEvaluationLog'
            text/json:
              schema:
                $ref: '#/components/schemas/AccessEvaluationLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: |-
        [EARLY ACCESS] GetAccessEvaluationLog: Get the log for a specific access evaluation.
        This endpoint will be deprecated in the near future.
      tags:
      - Access Evaluations
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/auditing/entries:
    get:
      description: "This will never be `null`, though it may be empty."
      operationId: ListEntries
      parameters:
      - description: The filter to be applied to the results.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          type: string
        style: form
      - description: The order to return the entries in.
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          type: string
        style: form
      - description: The maximum number of entries to return.
        explode: true
        in: query
        name: size
        required: false
        schema:
          default: 1000
          format: int32
          type: integer
        style: form
        x-nullable: true
      - description: "The scrolling state, used to iterate through the data set."
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScrollableCollectionOfAuditEntry'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListEntries: Get the audit entries."
      tags:
      - Auditing
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
    post:
      operationId: CreateEntry
      requestBody:
        content:
          application/json:
            example:
              process:
                name: processName
                runId: processRunId
                startTime: 0001-01-01T00:00:00.0000000+00:00
              data:
                action: dataAction
                category: dataCategory
                userId: dataUserId
                message: dataMessage
                resource:
                  type: resourceType
                  identifier: resourceIdentifier
                detailsType: dataDetailsType
            schema:
              $ref: '#/components/schemas/CreateAuditEntry'
          application/json-patch+json:
            example:
              process:
                name: processName
                runId: processRunId
                startTime: 0001-01-01T00:00:00.0000000+00:00
              data:
                action: dataAction
                category: dataCategory
                userId: dataUserId
                message: dataMessage
                resource:
                  type: resourceType
                  identifier: resourceIdentifier
                detailsType: dataDetailsType
            schema:
              $ref: '#/components/schemas/CreateAuditEntry'
        description: Information about the entry to be created.
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditEntry'
          description: Created
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: "There have been too many recent requests, retry later (using\
            \ the RETRY-AFTER header value as the delay)."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] CreateEntry: Create (persist) and audit entry.."
      tags:
      - Auditing
      x-fbn-apistatus: EarlyAccess
      x-content-type: application/json
      x-accepts: application/json
  /api/auditing/processes:
    get:
      description: "This will never be `null`, though it may be empty."
      operationId: GetProcesses
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAuditProcessSummary'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetProcesses: Get the latest audit entry for each process."
      tags:
      - Auditing
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/candelatraces:
    get:
      operationId: ListTraceLogs
      parameters:
      - description: "Expression to filter the result set. Read more about [filtering\
          \ results from LUSID](https://support.lusid.com/filtering-results-from-lusid)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 3000
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Order the results by these fields. Use the '-' sign to denote\
          \ descending order e.g. -MyFieldName. Multiple fields can be denoted by\
          \ a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "When paginating, only return this number of records. The minimum\
          \ value is 0 and the maximum is 10000."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
        x-nullable: true
      - description: "Encoded pagwwwwe string returned from a previous search result\
          \ that will retrieve the next page of data. When this field is supplied,\
          \ filter and sortby fields should not be supplied."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 4500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListTraceLogs: Get the logs for traces."
      tags:
      - Candela Traces
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/candelatraces/{traceId}:
    get:
      operationId: GetTraceLog
      parameters:
      - description: The identifier of the request to obtain the log for.
        explode: false
        in: path
        name: traceId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TraceLog'
            application/json:
              schema:
                $ref: '#/components/schemas/TraceLog'
            text/json:
              schema:
                $ref: '#/components/schemas/TraceLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetTraceLog: Get the log for a specific trace."
      tags:
      - Candela Traces
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/candelatraces/{traceId}/diagram:
    get:
      operationId: GetTraceDiagram
      parameters:
      - description: The identifier of the trace.
        explode: false
        in: path
        name: traceId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TraceDiagramResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TraceDiagramResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TraceDiagramResponse'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetTraceDiagram: Get the diagram representation for\
        \ a specific trace."
      tags:
      - Candela Traces
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/candelatraces/{traceId}/events:
    get:
      operationId: ListTraceEventLogs
      parameters:
      - description: The identifier of the request to obtain the log for.
        explode: false
        in: path
        name: traceId
        required: true
        schema:
          maxLength: 50
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-]+$"
          type: string
        style: simple
      - description: ""
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 4500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceEventLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceEventLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfTraceEventLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListTraceEventLogs: Get the trace event logs for a\
        \ specific trace."
      tags:
      - Candela Traces
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/metadata/access/resources:
    get:
      description: Get the comprehensive set of resources that are available for access
        control
      operationId: ListAccessControlledResources
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfAccessControlledResource'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "ListAccessControlledResources: Get resources available for access\
        \ control"
      tags:
      - Application Metadata
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/metadata/logs:
    get:
      description: |-
        Returns, for each log type, the fields that can be selected and/or filtered, their data types, and the
        comparator operations available for each filterable field. Intended to power a UI that advertises the
        correct comparators for a chosen field.
      operationId: ListQueryableFields
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueryableLogType'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueryableLogType'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueryableLogType'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] ListQueryableFields: List the queryable fields for\
        \ every supported log type."
      tags:
      - Log Metadata
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/metrics:
    get:
      description: |2-

        Returns request volumes, error rates and duration distributions for the domain's services, plus its identity
         population and activity counts. The domain is taken from the authenticated request, never from a parameter.

        <b>This endpoint is slow by design.</b> It runs several analytical queries in parallel and commonly takes
         upwards of thirty seconds when the underlying data is cold. The server abandons a data set that has not
         completed within its configured budget and reports it in `failed`, so a call returns rather than hanging
         indefinitely; allow comfortably more than that budget on the client, and do not call this on a
         user-interactive code path without showing progress.

        Partial success is normal and is still reported as a `200`. A data set that could not be retrieved is
         null in the response and named in `failed` with a reason; a data set excluded via
         include is null and named in `notIncluded`. Render a null data set as unavailable
         rather than as an absence of activity.
      operationId: GetMetrics
      parameters:
      - description: |-
          The data sets to return, by name. Omit to return all of them. Repeat the parameter to request several, for
          example `?include=RequestsPerMinute&include=IdentityMetrics`. Matched case-insensitively against the
          data set names, which are the `name` values on the response's data sets; duplicates are ignored.
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
        x-nullable: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EARLY ACCESS] GetMetrics: Get the aggregated platform metrics for\
        \ the caller's domain."
      tags:
      - Metrics
      x-fbn-apistatus: EarlyAccess
      x-accepts: application/json
  /api/requests:
    get:
      operationId: ListRequestLogs
      parameters:
      - description: "Expression to filter the result set. Read more about [filtering\
          \ results from LUSID](https://support.lusid.com/filtering-results-from-lusid)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 3000
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Order the results by these fields. Use the '-' sign to denote\
          \ descending order e.g. -MyFieldName. Multiple fields can be denoted by\
          \ a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "When paginating, only return this number of records. The minimum\
          \ value is 0 and the maximum is 10000."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
        x-nullable: true
      - description: "Encoded page string returned from a previous search result that\
          \ will retrieve the next page of data. When this field is supplied, filter\
          \ and sortby fields should not be supplied."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 4500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      - description: "Optional interval to use in a histogram of the returned values.\
          \ If not provided, no histogram will be generated."
        explode: true
        in: query
        name: histogramInterval
        required: false
        schema:
          format: date-span
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfRequestLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfRequestLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfRequestLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "ListRequestLogs: Get the logs for API requests."
      tags:
      - Requests
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/requests/$query:
    post:
      operationId: QueryRequestLogs
      requestBody:
        content:
          application/json-patch+json:
            example:
              startAt: 2026-06-22T00:00:00.0000000+00:00
              endAt: 2026-06-23T00:00:00.0000000+00:00
              filters:
              - field: Application
                text:
                  operation: EqualTo
                  value: Insights
              - field: HttpStatusCode
                numeric:
                  operation: EqualTo
                  value: 500
              sortBy: -Timestamp
              maxResults: 1000
              limit: 50
              fields:
              - HttpStatusCode
              - Verb
              - Url
              - Duration
              - User
            schema:
              $ref: '#/components/schemas/QueryRequestLogsRequest'
          application/json:
            example:
              startAt: 2026-06-22T00:00:00.0000000+00:00
              endAt: 2026-06-23T00:00:00.0000000+00:00
              filters:
              - field: Application
                text:
                  operation: EqualTo
                  value: Insights
              - field: HttpStatusCode
                numeric:
                  operation: EqualTo
                  value: 500
              sortBy: -Timestamp
              maxResults: 1000
              limit: 50
              fields:
              - HttpStatusCode
              - Verb
              - Url
              - Duration
              - User
            schema:
              $ref: '#/components/schemas/QueryRequestLogsRequest'
          text/json:
            example:
              startAt: 2026-06-22T00:00:00.0000000+00:00
              endAt: 2026-06-23T00:00:00.0000000+00:00
              filters:
              - field: Application
                text:
                  operation: EqualTo
                  value: Insights
              - field: HttpStatusCode
                numeric:
                  operation: EqualTo
                  value: 500
              sortBy: -Timestamp
              maxResults: 1000
              limit: 50
              fields:
              - HttpStatusCode
              - Verb
              - Url
              - Duration
              - User
            schema:
              $ref: '#/components/schemas/QueryRequestLogsRequest'
          application/*+json:
            example:
              startAt: 2026-06-22T00:00:00.0000000+00:00
              endAt: 2026-06-23T00:00:00.0000000+00:00
              filters:
              - field: Application
                text:
                  operation: EqualTo
                  value: Insights
              - field: HttpStatusCode
                numeric:
                  operation: EqualTo
                  value: 500
              sortBy: -Timestamp
              maxResults: 1000
              limit: 50
              fields:
              - HttpStatusCode
              - Verb
              - Url
              - Duration
              - User
            schema:
              $ref: '#/components/schemas/QueryRequestLogsRequest'
        description: The query parameters in the request body.
        required: true
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueriedRequestLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueriedRequestLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListOfQueriedRequestLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: |-
        QueryRequestLogs: Query the logs for API requests, returning only the caller-specified fields in addition to the
        always-required fields (Timestamp, Id, Application, Operation). The server fetches only the requested
        columns from the underlying data source to minimise payload and query time.
      tags:
      - Requests
      x-fbn-apistatus: Stable
      x-content-type: application/json-patch+json
      x-accepts: application/json
  /api/requests/{id}:
    get:
      operationId: GetRequestLog
      parameters:
      - description: The identifier of the request to obtain the log for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 100
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RequestLog'
            application/json:
              schema:
                $ref: '#/components/schemas/RequestLog'
            text/json:
              schema:
                $ref: '#/components/schemas/RequestLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "GetRequestLog: Get the log for a specific API request."
      tags:
      - Requests
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/requests/{id}/request:
    get:
      operationId: GetRequest
      parameters:
      - description: The identifier of the request to obtain the content for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 100
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Request'
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
            text/json:
              schema:
                $ref: '#/components/schemas/Request'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "GetRequest: Get the request content for a specific API request."
      tags:
      - Requests
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/requests/{id}/response:
    get:
      operationId: GetResponse
      parameters:
      - description: The identifier of the request to obtain the response for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 100
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Response'
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
            text/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "GetResponse: Get the response for a specific API request."
      tags:
      - Requests
      x-fbn-apistatus: Stable
      x-accepts: application/json
  /api/vendor:
    get:
      operationId: ListVendorLogs
      parameters:
      - description: "Expression to filter the result set. Read more about [filtering\
          \ results from LUSID](https://support.lusid.com/filtering-results-from-lusid)."
        explode: true
        in: query
        name: filter
        required: false
        schema:
          maxLength: 3000
          minLength: 0
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "Order the results by these fields. Use the '-' sign to denote\
          \ descending order e.g. -MyFieldName. Multiple fields can be denoted by\
          \ a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName"
        explode: true
        in: query
        name: sortBy
        required: false
        schema:
          maxLength: 16384
          minLength: 1
          pattern: "^[\\s\\S]*$"
          type: string
        style: form
      - description: "When paginating, only return this number of records. The minimum\
          \ value is 0 and the maximum is 10000."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 10000
          minimum: 0
          type: integer
        style: form
        x-nullable: true
      - description: "Encoded page string returned from a previous search result that\
          \ will retrieve the next page of data. When this field is supplied, filter\
          \ and sortby fields should not be supplied."
        explode: true
        in: query
        name: page
        required: false
        schema:
          maxLength: 4500
          minLength: 1
          pattern: "^[a-zA-Z0-9\\+/]*={0,3}$"
          type: string
        style: form
      - description: "Optional interval to use in a histogram of the returned values.\
          \ If not provided, no histogram will be generated."
        explode: true
        in: query
        name: histogramInterval
        required: false
        schema:
          format: date-span
          type: string
        style: form
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfVendorLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfVendorLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceListWithHistogramOfVendorLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] ListVendorLogs: List the logs for vendor requests."
      tags:
      - Vendor Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/vendor/{id}:
    get:
      operationId: GetVendorLog
      parameters:
      - description: The identifier of the request to obtain the log for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              example:
                id: "12345"
                provider: ExampleProvider
                timestamp: 2023-10-01T12:34:56.0000000+00:00
                type: HttpResponse
                destinationUrl: https://example.com/api
                operation: Evaluate
                outcome: Success
                duration: 150.5
                httpStatusCode: 200
                userId: user123
                requestId: req-67890
                links:
                - relation: Linked
                  href: https://example.com/link1
                  method: GET
                - relation: Linked
                  href: https://example.com/link2
                  method: GET
              schema:
                $ref: '#/components/schemas/VendorLog'
            application/json:
              example:
                id: "12345"
                provider: ExampleProvider
                timestamp: 2023-10-01T12:34:56.0000000+00:00
                type: HttpResponse
                destinationUrl: https://example.com/api
                operation: Evaluate
                outcome: Success
                duration: 150.5
                httpStatusCode: 200
                userId: user123
                requestId: req-67890
                links:
                - relation: Linked
                  href: https://example.com/link1
                  method: GET
                - relation: Linked
                  href: https://example.com/link2
                  method: GET
              schema:
                $ref: '#/components/schemas/VendorLog'
            text/json:
              example:
                id: "12345"
                provider: ExampleProvider
                timestamp: 2023-10-01T12:34:56.0000000+00:00
                type: HttpResponse
                destinationUrl: https://example.com/api
                operation: Evaluate
                outcome: Success
                duration: 150.5
                httpStatusCode: 200
                userId: user123
                requestId: req-67890
                links:
                - relation: Linked
                  href: https://example.com/link1
                  method: GET
                - relation: Linked
                  href: https://example.com/link2
                  method: GET
              schema:
                $ref: '#/components/schemas/VendorLog'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetVendorLog: Get the log for a specific vendor request."
      tags:
      - Vendor Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/vendor/{id}/request:
    get:
      operationId: GetVendorRequest
      parameters:
      - description: The identifier of the request to obtain the content for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VendorRequest'
            application/json:
              schema:
                $ref: '#/components/schemas/VendorRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorRequest'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetVendorRequest: Get the request body for a vendor\
        \ request."
      tags:
      - Vendor Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
  /api/vendor/{id}/response:
    get:
      operationId: GetVendorResponse
      parameters:
      - description: The identifier of the request to obtain the response for.
        explode: false
        in: path
        name: id
        required: true
        schema:
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/VendorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/VendorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/VendorResponse'
          description: OK
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/LusidValidationProblemDetails'
          description: The details of the input related failure
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LusidProblemDetails'
          description: Error response
      security:
      - oauth2: []
      summary: "[EXPERIMENTAL] GetVendorResponse: Get the response from a vendor request."
      tags:
      - Vendor Logs
      x-fbn-apistatus: Experimental
      x-accepts: application/json
components:
  schemas:
    AccessControlledAction:
      additionalProperties: false
      example:
        limitedSet:
        - identifier:
            key: identifier
          name: name
          description: description
          actions:
          - activity: activity
            scope: scope
            entity: entity
          - activity: activity
            scope: scope
            entity: entity
        - identifier:
            key: identifier
          name: name
          description: description
          actions:
          - activity: activity
            scope: scope
            entity: entity
          - activity: activity
            scope: scope
            entity: entity
        description: description
        action:
          activity: activity
          scope: scope
          entity: entity
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
      properties:
        description:
          minLength: 1
          type: string
        action:
          $ref: '#/components/schemas/ActionId'
        limitedSet:
          items:
            $ref: '#/components/schemas/IdSelectorDefinition'
          nullable: true
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - action
      - description
      type: object
    AccessControlledResource:
      additionalProperties: false
      example:
        application: application
        name: name
        description: description
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        actions:
        - limitedSet:
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          description: description
          action:
            activity: activity
            scope: scope
            entity: entity
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
        - limitedSet:
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          - identifier:
              key: identifier
            name: name
            description: description
            actions:
            - activity: activity
              scope: scope
              entity: entity
            - activity: activity
              scope: scope
              entity: entity
          description: description
          action:
            activity: activity
            scope: scope
            entity: entity
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
        identifierParts:
        - displayName: displayName
          name: name
          index: 0
          description: description
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          required: true
        - displayName: displayName
          name: name
          index: 0
          description: description
          links:
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          - method: method
            description: description
            href: https://openapi-generator.tech
            relation: relation
          required: true
      properties:
        application:
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        description:
          minLength: 1
          type: string
        actions:
          items:
            $ref: '#/components/schemas/AccessControlledAction'
          type: array
        identifierParts:
          items:
            $ref: '#/components/schemas/IdentifierPartSchema'
          nullable: true
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - actions
      - description
      type: object
    AccessEvaluationLog:
      additionalProperties: false
      description: Holds logged information about an access check performed on an
        API.
      example:
        authoritativePolicyId: authoritativePolicyId
        authoritativeSelector: authoritativeSelector
        resource:
          key: resource
        sessionId: sessionId
        resourceToEffectiveDate: resourceToEffectiveDate
        resourceFromEffectiveDate: resourceFromEffectiveDate
        duration: 6.027456183070403
        result: result
        application: application
        requestId: requestId
        authoritativeRoleId: authoritativeRoleId
        requiredLicencePolicyId: requiredLicencePolicyId
        action: action
        resourceFromAsAt: resourceFromAsAt
        accessAsAtTime: accessAsAtTime
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        id: id
        userType: userType
        resourceToAsAt: resourceToAsAt
        accessExecutionTime: accessExecutionTime
        user: user
        timestamp: 2000-01-23T04:56:07.000+00:00
        resourceType: resourceType
      properties:
        timestamp:
          description: The timestamp of the access evaluation.
          format: date-time
          type: string
        application:
          description: The name of the application that the request was made from.
          minLength: 1
          type: string
        id:
          description: The ID of the access evaluation.
          minLength: 1
          type: string
        requestId:
          description: The identifier of the request.
          nullable: true
          type: string
        sessionId:
          description: The identifier of the session that the request was made in.
          nullable: true
          type: string
        user:
          description: The user who made the request.
          minLength: 1
          type: string
        userType:
          description: The type of the user who made the request.
          nullable: true
          type: string
        duration:
          description: The duration of the access evaluation.
          format: double
          type: number
        result:
          description: The result of the access evaluation.
          nullable: true
          type: string
        authoritativeRoleId:
          description: The role that matched the access evaluation to provide a result.
          nullable: true
          type: string
        authoritativePolicyId:
          description: The policy that matched the access evaluation to provide a
            result.
          nullable: true
          type: string
        authoritativeSelector:
          description: The selector that matched the access evaluation to provide
            a result.
          nullable: true
          type: string
        resourceType:
          description: The type of the resource that the access evaluation is for.
          nullable: true
          type: string
        action:
          description: The action key of the access evaluation.
          nullable: true
          type: string
        resource:
          additionalProperties:
            nullable: true
            type: string
          description: "The ID of the resource that the access evaluation is for.\
            \ If the ResourceID could not be converted to a dictionary, it will return\
            \ a single-value dictionary with the key \"resourceId\"."
          nullable: true
          type: object
        resourceFromEffectiveDate:
          description: The From effective date of the resource.
          nullable: true
          type: string
        resourceToEffectiveDate:
          description: The To effective date of the resource.
          nullable: true
          type: string
        resourceFromAsAt:
          description: The From AsAt date of the resource.
          nullable: true
          type: string
        resourceToAsAt:
          description: The To AsAt date of the resource.
          nullable: true
          type: string
        accessExecutionTime:
          description: The execution time of the entitlement.
          nullable: true
          type: string
        accessAsAtTime:
          description: The AsAt time of the entitlement.
          nullable: true
          type: string
        requiredLicencePolicyId:
          description: ID of the required licence policy.
          maxLength: 64
          minLength: 1
          nullable: true
          pattern: "^[a-zA-Z0-9\\-_:\\+]+$"
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - application
      - duration
      - id
      - timestamp
      - user
      type: object
    ActionId:
      additionalProperties: false
      example:
        activity: activity
        scope: scope
        entity: entity
      properties:
        scope:
          maxLength: 100
          minLength: 3
          type: string
        activity:
          maxLength: 25
          minLength: 3
          type: string
        entity:
          maxLength: 40
          minLength: 3
          type: string
      required:
      - activity
      - entity
      - scope
      type: object
    AuditData:
      additionalProperties: false
      example:
        resource:
          identifier: identifier
          type: type
        detailsType: detailsType
        action: action
        details: ""
        category: category
        message: message
        userId: userId
      properties:
        action:
          maxLength: 64
          minLength: 0
          type: string
        category:
          maxLength: 16
          minLength: 0
          type: string
        userId:
          maxLength: 128
          minLength: 1
          nullable: true
          type: string
        message:
          maxLength: 1024
          minLength: 0
          nullable: true
          type: string
        resource:
          $ref: '#/components/schemas/Resource'
        detailsType:
          maxLength: 16
          minLength: 0
          nullable: true
          type: string
        details:
          nullable: true
      required:
      - action
      - category
      type: object
    AuditDataSummary:
      additionalProperties: false
      example:
        count: 0
        categories:
          key: 6
      properties:
        count:
          format: int32
          readOnly: true
          type: integer
        categories:
          additionalProperties:
            format: int32
            type: integer
          nullable: true
          type: object
      type: object
    AuditEntry:
      additionalProperties: false
      example:
        date: 2000-01-23T04:56:07.000+00:00
        process:
          name: name
          startTime: 2000-01-23T04:56:07.000+00:00
          runId: runId
          endTime: 2000-01-23T04:56:07.000+00:00
          succeeded: true
        notes:
        - date: 2000-01-23T04:56:07.000+00:00
          text: text
          userId: userId
        - date: 2000-01-23T04:56:07.000+00:00
          text: text
          userId: userId
        data:
          resource:
            identifier: identifier
            type: type
          detailsType: detailsType
          action: action
          details: ""
          category: category
          message: message
          userId: userId
        id: id
      properties:
        id:
          minLength: 1
          type: string
        date:
          format: date-time
          type: string
        process:
          $ref: '#/components/schemas/AuditProcess'
        data:
          $ref: '#/components/schemas/AuditData'
        notes:
          items:
            $ref: '#/components/schemas/AuditEntryNote'
          nullable: true
          type: array
      required:
      - data
      - date
      - id
      - process
      type: object
    AuditEntryNote:
      additionalProperties: false
      example:
        date: 2000-01-23T04:56:07.000+00:00
        text: text
        userId: userId
      properties:
        userId:
          minLength: 1
          type: string
        text:
          minLength: 1
          type: string
        date:
          format: date-time
          type: string
      required:
      - date
      - text
      - userId
      type: object
    AuditProcess:
      additionalProperties: false
      example:
        name: name
        startTime: 2000-01-23T04:56:07.000+00:00
        runId: runId
        endTime: 2000-01-23T04:56:07.000+00:00
        succeeded: true
      properties:
        name:
          maxLength: 128
          minLength: 0
          type: string
        runId:
          minLength: 1
          type: string
        startTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          nullable: true
          type: string
        succeeded:
          nullable: true
          type: boolean
      required:
      - name
      - runId
      - startTime
      type: object
    AuditProcessSummary:
      additionalProperties: false
      example:
        summary:
          count: 0
          categories:
            key: 6
        process:
          name: name
          startTime: 2000-01-23T04:56:07.000+00:00
          runId: runId
          endTime: 2000-01-23T04:56:07.000+00:00
          succeeded: true
        latestEntry:
          resource:
            identifier: identifier
            type: type
          detailsType: detailsType
          action: action
          details: ""
          category: category
          message: message
          userId: userId
      properties:
        process:
          $ref: '#/components/schemas/AuditProcess'
        latestEntry:
          $ref: '#/components/schemas/AuditData'
        summary:
          $ref: '#/components/schemas/AuditDataSummary'
      type: object
    BooleanComparator:
      additionalProperties: false
      description: Filters a boolean field by comparing it to a supplied boolean value.
      example:
        operation: operation
        value: true
      properties:
        operation:
          description: |-
            The comparison to apply between the field and Finbourne.Insights.WebApi.Dtos.Querying.BooleanComparator.Value. One of the Finbourne.Insights.WebApi.Dtos.Querying.BooleanOperation
            values (EqualTo, NotEqualTo); discoverable via the queryable-fields metadata endpoint.
          minLength: 1
          type: string
        value:
          description: The value to compare the field against.
          type: boolean
      required:
      - operation
      - value
      type: object
    Bucket:
      additionalProperties: false
      description: A single histogram bucket.
      example:
        startTime: 2000-01-23T04:56:07.000+00:00
        itemCount: 0
      properties:
        startTime:
          description: The bucket's start time as a DateTimeOffset.
          format: date-time
          type: string
        itemCount:
          description: The number of items in the bucket.
          format: int64
          type: integer
      type: object
    CreateAuditEntry:
      additionalProperties: false
      description: Details to create an audit entry
      example:
        process:
          name: name
          startTime: 2000-01-23T04:56:07.000+00:00
          runId: runId
          endTime: 2000-01-23T04:56:07.000+00:00
          succeeded: true
        data:
          resource:
            identifier: identifier
            type: type
          detailsType: detailsType
          action: action
          details: ""
          category: category
          message: message
          userId: userId
      properties:
        process:
          $ref: '#/components/schemas/AuditProcess'
        data:
          $ref: '#/components/schemas/AuditData'
      required:
      - data
      - process
      type: object
    DateComparator:
      additionalProperties: false
      description: Filters a date/time field by comparing it to a supplied date/time
        value.
      example:
        operation: operation
        value: 2000-01-23T04:56:07.000+00:00
      properties:
        operation:
          description: |-
            The comparison to apply between the field and Finbourne.Insights.WebApi.Dtos.Querying.DateComparator.Value. One of the Finbourne.Insights.WebApi.Dtos.Querying.DateOperation
            values (e.g. Before, OnOrAfter); discoverable via the queryable-fields metadata endpoint.
          minLength: 1
          type: string
        value:
          description: The value to compare the field against.
          format: date-time
          type: string
      required:
      - operation
      - value
      type: object
    Histogram:
      additionalProperties: false
      description: A histogram showing an item's count in buckets of equal timespans.
      example:
        buckets:
        - startTime: 2000-01-23T04:56:07.000+00:00
          itemCount: 0
        - startTime: 2000-01-23T04:56:07.000+00:00
          itemCount: 0
      properties:
        buckets:
          description: An ordered list of the histogram buckets.
          items:
            $ref: '#/components/schemas/Bucket'
          nullable: true
          type: array
      type: object
    IdentifierPartSchema:
      additionalProperties: false
      example:
        displayName: displayName
        name: name
        index: 0
        description: description
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        required: true
      properties:
        index:
          format: int32
          type: integer
        name:
          minLength: 1
          type: string
        displayName:
          minLength: 1
          type: string
        description:
          minLength: 1
          type: string
        required:
          type: boolean
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - description
      - displayName
      - index
      - name
      - required
      type: object
    IdentityMetricsDataSet:
      additionalProperties: false
      description: |-
        Identity population and activity counts for the domain, pivoted from the latest tranche the identity metrics
        provider collected.
      example:
        accountLocked: 1
        ignored: 1
        collectedAt: 2000-01-23T04:56:07.000+00:00
        activeLast7Days: 9
        createdLast7Days: 1
        activeLast30Days: 9
        activeLast24Hours: 5
        suspendedPwReset: 6
        name: name
        neverLoggedIn: 1
        serviceUsers: 7
        createdLast24Hours: 7
        createdLast30Days: 4
        personalUsers: 4
      properties:
        name:
          description: |-
            The name of this data set. Always `IdentityMetrics`, matching the corresponding
            Finbourne.Insights.WebApi.Dtos.Metrics.MetricDataSet value and Finbourne.Insights.WebApi.Dtos.Metrics.MetricsResponse property.
          minLength: 1
          type: string
        collectedAt:
          description: "The timestamp of the tranche these values were collected in,\
            \ in UTC, or null if no tranche was returned."
          format: date-time
          nullable: true
          type: string
        personalUsers:
          description: "The number of personal (human) users in the domain, or null\
            \ if not reported."
          format: int64
          nullable: true
          type: integer
        serviceUsers:
          description: "The number of service users in the domain, or null if not\
            \ reported."
          format: int64
          nullable: true
          type: integer
        neverLoggedIn:
          description: "The number of users that have never logged in, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
        ignored:
          description: "The number of users excluded from the other counts, or null\
            \ if not reported."
          format: int64
          nullable: true
          type: integer
        accountLocked:
          description: "The number of users whose account is locked, or null if not\
            \ reported."
          format: int64
          nullable: true
          type: integer
        suspendedPwReset:
          description: "The number of users suspended pending a password reset, or\
            \ null if not reported."
          format: int64
          nullable: true
          type: integer
        createdLast24Hours:
          description: "The number of users created in the last 24 hours, or null\
            \ if not reported."
          format: int64
          nullable: true
          type: integer
        createdLast7Days:
          description: "The number of users created in the last 7 days, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
        createdLast30Days:
          description: "The number of users created in the last 30 days, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
        activeLast24Hours:
          description: "The number of users active in the last 24 hours, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
        activeLast7Days:
          description: "The number of users active in the last 7 days, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
        activeLast30Days:
          description: "The number of users active in the last 30 days, or null if\
            \ not reported."
          format: int64
          nullable: true
          type: integer
      required:
      - name
      type: object
    IdSelectorDefinition:
      additionalProperties: false
      example:
        identifier:
          key: identifier
        name: name
        description: description
        actions:
        - activity: activity
          scope: scope
          entity: entity
        - activity: activity
          scope: scope
          entity: entity
      properties:
        identifier:
          additionalProperties:
            nullable: true
            type: string
          minLength: 1
          type: object
        actions:
          items:
            $ref: '#/components/schemas/ActionId'
          minItems: 1
          type: array
        name:
          maxLength: 100
          minLength: 0
          nullable: true
          type: string
        description:
          maxLength: 1024
          minLength: 0
          nullable: true
          type: string
      required:
      - actions
      - identifier
      type: object
    InsightsFilter:
      additionalProperties: false
      description: |-
        A single filter applied to a queryable log field. Exactly one comparator (Finbourne.Insights.WebApi.Dtos.Querying.InsightsFilter.Text,
        Finbourne.Insights.WebApi.Dtos.Querying.InsightsFilter.Numeric, Finbourne.Insights.WebApi.Dtos.Querying.InsightsFilter.Date or Finbourne.Insights.WebApi.Dtos.Querying.InsightsFilter.Boolean) must be populated, and its type must match
        the data type of the field named by Finbourne.Insights.WebApi.Dtos.Querying.InsightsFilter.Field. The available comparator and operation for a field
        can be discovered via the queryable-fields metadata endpoint.
      example:
        date:
          operation: operation
          value: 2000-01-23T04:56:07.000+00:00
        boolean:
          operation: operation
          value: true
        field: field
        numeric:
          operation: operation
          value: 6.027456183070403
        text:
          values:
          - values
          - values
          operation: operation
          value: value
      properties:
        field:
          description: The name of the field to filter on (case-insensitive). Must
            be a filterable field of the queried log type.
          maxLength: 64
          minLength: 1
          pattern: "^[a-zA-Z0-9\\-_]+$"
          type: string
        text:
          $ref: '#/components/schemas/TextComparator'
        numeric:
          $ref: '#/components/schemas/NumericComparator'
        date:
          $ref: '#/components/schemas/DateComparator'
        boolean:
          $ref: '#/components/schemas/BooleanComparator'
      required:
      - field
      type: object
    Link:
      additionalProperties: false
      example:
        method: method
        description: description
        href: https://openapi-generator.tech
        relation: relation
      properties:
        relation:
          type: string
        href:
          format: uri
          type: string
        description:
          nullable: true
          type: string
        method:
          type: string
      required:
      - href
      - method
      - relation
      type: object
    LusidProblemDetails:
      additionalProperties: false
      properties:
        name:
          minLength: 1
          type: string
        errorDetails:
          items:
            additionalProperties:
              type: string
            type: object
          nullable: true
          type: array
        code:
          format: int32
          type: integer
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      required:
      - code
      - name
      type: object
    LusidValidationProblemDetails:
      additionalProperties: false
      properties:
        name:
          minLength: 1
          type: string
        errorDetails:
          items:
            additionalProperties:
              type: string
            type: object
          nullable: true
          type: array
        code:
          format: int32
          type: integer
        errors:
          additionalProperties:
            items:
              type: string
            type: array
          nullable: true
          type: object
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      required:
      - code
      - name
      type: object
    MetricDataSetFailure:
      additionalProperties: false
      description: "Names a metric data set that was requested but could not be returned,\
        \ with a caller-safe explanation."
      example:
        reason: reason
        name: name
      properties:
        name:
          description: |-
            The data set that could not be returned. One of the Finbourne.Insights.WebApi.Dtos.Metrics.MetricDataSet values, and identical to the
            name of the Finbourne.Insights.WebApi.Dtos.Metrics.MetricsResponse property that would have carried it.
          minLength: 1
          type: string
        reason:
          description: |-
            A generic, caller-safe explanation of why the data set is missing. Never contains provider names, query
            text, internal service names or exception detail.
          minLength: 1
          type: string
      required:
      - name
      - reason
      type: object
    MetricsResponse:
      additionalProperties: false
      description: "The aggregated platform metrics for a domain: one nullable, strongly-typed\
        \ property per data set."
      example:
        serviceEndpointDurations24h:
          windowStart: 2000-01-23T04:56:07.000+00:00
          values:
          - endpoint: endpoint
            meanDurationMs: 5.637376656633329
            p95DurationMs: 7.061401241503109
            service: service
            totalRequests: 5
            medianDurationMs: 2.3021358869347655
          - endpoint: endpoint
            meanDurationMs: 5.637376656633329
            p95DurationMs: 7.061401241503109
            service: service
            totalRequests: 5
            medianDurationMs: 2.3021358869347655
          name: name
          truncated: true
          windowEnd: 2000-01-23T04:56:07.000+00:00
        notIncluded:
        - notIncluded
        - notIncluded
        domain: domain
        asAt: 2000-01-23T04:56:07.000+00:00
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        requestsPerMinute:
          windowStart: 2000-01-23T04:56:07.000+00:00
          values:
          - endpoint: endpoint
            durationSumMs: 1.4658129805029452
            service: service
            totalRequests: 0
            requests5xx: 6
            minuteBucket: 2000-01-23T04:56:07.000+00:00
          - endpoint: endpoint
            durationSumMs: 1.4658129805029452
            service: service
            totalRequests: 0
            requests5xx: 6
            minuteBucket: 2000-01-23T04:56:07.000+00:00
          name: name
          truncated: true
          windowEnd: 2000-01-23T04:56:07.000+00:00
        failed:
        - reason: reason
          name: name
        - reason: reason
          name: name
        serviceRequests24h:
          windowStart: 2000-01-23T04:56:07.000+00:00
          values:
          - pct5xx: 2.027123023002322
            service: service
            totalRequests: 9
            requests5xx: 3
          - pct5xx: 2.027123023002322
            service: service
            totalRequests: 9
            requests5xx: 3
          name: name
          truncated: true
          windowEnd: 2000-01-23T04:56:07.000+00:00
        identityMetrics:
          accountLocked: 1
          ignored: 1
          collectedAt: 2000-01-23T04:56:07.000+00:00
          activeLast7Days: 9
          createdLast7Days: 1
          activeLast30Days: 9
          activeLast24Hours: 5
          suspendedPwReset: 6
          name: name
          neverLoggedIn: 1
          serviceUsers: 7
          createdLast24Hours: 7
          createdLast30Days: 4
          personalUsers: 4
      properties:
        asAt:
          description: "When this response was assembled, in UTC. Every data set in\
            \ the response was resolved against this instant."
          format: date-time
          type: string
        domain:
          description: "The domain the metrics are for, resolved from the authenticated\
            \ request rather than from any parameter."
          minLength: 1
          type: string
        requestsPerMinute:
          $ref: '#/components/schemas/RequestsPerMinuteDataSet'
        serviceEndpointDurations24h:
          $ref: '#/components/schemas/ServiceEndpointDurations24hDataSet'
        serviceRequests24h:
          $ref: '#/components/schemas/ServiceRequests24hDataSet'
        identityMetrics:
          $ref: '#/components/schemas/IdentityMetricsDataSet'
        notIncluded:
          description: |-
            The data sets the caller excluded via the `include` parameter, and which were therefore never queried.
            Each value is one of the Finbourne.Insights.WebApi.Dtos.Metrics.MetricDataSet values.
          items:
            type: string
          type: array
        failed:
          description: "The data sets that were requested but could not be returned,\
            \ each with a caller-safe reason."
          items:
            $ref: '#/components/schemas/MetricDataSetFailure'
          type: array
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - asAt
      - domain
      - failed
      - notIncluded
      type: object
    NumericComparator:
      additionalProperties: false
      description: Filters a numeric field by comparing it to a supplied numeric value.
      example:
        operation: operation
        value: 6.027456183070403
      properties:
        operation:
          description: |-
            The comparison to apply between the field and Finbourne.Insights.WebApi.Dtos.Querying.NumericComparator.Value. One of the Finbourne.Insights.WebApi.Dtos.Querying.NumericOperation
            values (e.g. EqualTo, GreaterThan); discoverable via the queryable-fields metadata endpoint.
          minLength: 1
          type: string
        value:
          description: The value to compare the field against.
          format: double
          type: number
      required:
      - operation
      - value
      type: object
    ProblemDetails:
      additionalProperties: false
      properties:
        type:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        status:
          format: int32
          nullable: true
          type: integer
        detail:
          nullable: true
          type: string
        instance:
          nullable: true
          type: string
      type: object
    QueriedRequestLog:
      additionalProperties: false
      description: |-
        Holds logged information about a request performed on an API, where only a subset of fields may be populated
        depending on which fields were requested via the QueryRequestLogs endpoint.
      example:
        sdkLanguage: sdkLanguage
        verb: verb
        errorCode: errorCode
        sessionId: sessionId
        url: url
        duration: 0.8008281904610115
        impersonatingUser: impersonatingUser
        application: application
        domain: domain
        sdkVersion: sdkVersion
        correlationId:
        - correlationId
        - correlationId
        links:
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        - method: method
          description: description
          href: https://openapi-generator.tech
          relation: relation
        id: id
        userType: userType
        operation: operation
        user: user
        sourceApplication: sourceApplication
        outcome: outcome
        timestamp: 2000-01-23T04:56:07.000+00:00
        httpStatusCode: 6
      properties:
        timestamp:
          description: The timestamp of the request.
          format: date-time
          type: string
        id:
          description: The identifier of the request.
          minLength: 1
          type: string
        application:
          description: The name of the application that the request was made to.
          minLength: 1
          type: string
        operation:
          description: The API operation invoked by the request.
          minLength: 1
          type: string
        sessionId:
          description: The identifier of the session that the request was made in.
          nullable: true
          type: string
        verb:
          description: The HTTP verb of the request.
          nullable: true
          type: string
        url:
          description: The URL of the request.
          nullable: true
          type: string
        domain:
          description: The domain of the request.
          nullable: true
          type: string
        user:
          description: The user who made the request.
          nullable: true
          type: string
        userType:
          description: The type of the user who made the request.
          nullable: true
          type: string
        outcome:
          description: "The outcome of the request: Completed, Errored or Failed."
          nullable: true
          type: string
        duration:
          description: The duration of the request in milliseconds.
          format: double
          nullable: true
          type: number
        httpStatusCode:
          description: The status code of the request.
          format: int32
          nullable: true
          type: integer
        errorCode:
          description: "Error code, if the request had a failure or error."
          nullable: true
          type: string
        sdkLanguage:
          description: The language of the SDK used.
          nullable: true
          type: string
        sdkVersion:
          description: The version of the SDK used.
          nullable: true
          type: string
        sourceApplication:
          description: The name of the application that made the request.
          nullable: true
          type: string
        correlationId:
          description: The chain of requestIds preceding this request
          items:
            type: string
          nullable: true
          type: array
        impersonatingUser:
          description: The impersonating user. Only present if the request is an impersonated
            one
          nullable: true
          type: string
        links:
          items:
            $ref: '#/components/schemas/Link'
          nullable: true
          type: array
      required:
      - application
      - id
      - operation
      - timestamp
      type: object
    QueryableLogField:
      additionalProperties: false
      description: |-
        Describes a field of a log type that can be selected and (where Finbourne.Insights.WebApi.Dtos.Querying.QueryableLogField.Filterable is set) filtered when
        querying logs, including the comparator operations available for it. Returned by the queryable-fields metadata
        endpoint so a UI can advertise the correct comparators for each field.
      example:
        alwaysReturned: true
        filterable: true
        supportedOperations:
        - supportedOperations
        - supportedOperations
        dataType: dataType
        name: name
      properties:
        name:
          description: "The name of the field, as used when requesting it or filtering\
            \ on it (case-insensitive)."
          minLength: 1
          type: string
        dataType:
          description: "The data type of the field: Text, Numeric, Date or Boolean."
          minLength: 1
          type: string
        supportedOperations:
          description: The comparator operations available for this field. Empty when
            the field is not filterable.
          items:
            type: string
          type: array
        filterable:
          description: Whether the field can be used in a filter.
          type: boolean
        alwaysReturned:
          description: Whether the field is always returned (and therefore need not
            be requested).
          type: boolean
      required:
      - dataType
      - name
      - supportedOperations
      type: object
    QueryableLogType:
      additionalProperties: false
      description: "The queryable fields of a single log type, returned by the queryable-fields\
        \ metadata endpoint."
      example:
        logType: logType
        fields:
        - alwaysReturned: true
          filterable: true
          supportedOperations:
          - supportedOperations
          - supportedOperations
          dataType: dataType
          name: name
        - alwaysReturned: true
          filterable: true
          supportedOperations:
          - supportedOperations
          - supportedOperations
          dataType: dataType
          name: name
      properties:
        logType:
          description: "The log type, e.g. Requests, Vendor, Access, Trace or TraceEvent."
          minLength: 1
          type: string
        fields:
          description: The fields of this log type that can be selected and/or filtered.
          items:
            $ref: '#/components/schemas/QueryableLogField'
          type: array
      required:
      - fields
      - logType
      type: object
    QueryRequestLogsRequest:
      additionalProperties: false
      description: |-
        Body of the QueryRequestLogs endpoint. A query is bounded by a time range (Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.StartAt/Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.EndAt)
        and refined by an optional set of Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.Filters that are combined with logical AND. The discoverable set
        of filterable fields, their data types and the operations available for each is returned by the queryable-fields
        metadata endpoint.
      example:
        maxResults: 1466
        limit: 5962
        sortBy: sortBy
        filters:
        - date:
            operation: operation
            value: 2000-01-23T04:56:07.000+00:00
          boolean:
            operation: operation
            value: true
          field: field
          numeric:
            operation: operation
            value: 6.027456183070403
          text:
            values:
            - values
            - values
            operation: operation
            value: value
        - date:
            operation: operation
            value: 2000-01-23T04:56:07.000+00:00
          boolean:
            operation: operation
            value: true
          field: field
          numeric:
            operation: operation
            value: 6.027456183070403
          text:
            values:
            - values
            - values
            operation: operation
            value: value
        - date:
            operation: operation
            value: 2000-01-23T04:56:07.000+00:00
          boolean:
            operation: operation
            value: true
          field: field
          numeric:
            operation: operation
            value: 6.027456183070403
          text:
            values:
            - values
            - values
            operation: operation
            value: value
        - date:
            operation: operation
            value: 2000-01-23T04:56:07.000+00:00
          boolean:
            operation: operation
            value: true
          field: field
          numeric:
            operation: operation
            value: 6.027456183070403
          text:
            values:
            - values
            - values
            operation: operation
            value: value
        - date:
            operation: operation
            value: 2000-01-23T04:56:07.000+00:00
          boolean:
            operation: operation
            value: true
          field: field
          numeric:
            operation: operation
            value: 6.027456183070403
          text:
            values:
            - values
            - values
            operation: operation
            value: value
        page: page
        endAt: 2000-01-23T04:56:07.000+00:00
        fields:
        - fields
        - fields
        startAt: 2000-01-23T04:56:07.000+00:00
        timeRange:
          timeZone: timeZone
          from:
            midnight: true
            offset:
              amount: 171976545
              unit: unit
            absolute: 2000-01-23T04:56:07.000+00:00
            now: true
          preset: preset
          to:
            midnight: true
            offset:
              amount: 171976545
              unit: unit
            absolute: 2000-01-23T04:56:07.000+00:00
            now: true
      properties:
        startAt:
          description: |-
            The inclusive start of the time range to query. Required unless Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.Page is supplied. Used to bound
            the underlying partition scan, so a tighter range is cheaper and faster.
          format: date-time
          nullable: true
          type: string
        endAt:
          description: The end of the time range to query. Required unless Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.Page
            or Finbourne.Insights.WebApi.Dtos.QueryRequestLogsRequest.TimeRange is
            supplied.
          format: date-time
          nullable: true
          type: string
        timeRange:
          $ref: '#/components/schemas/TimeRange'
        filters:
          description: |-
            Optional filters to apply, combined with logical AND. Each filter targets a filterable field and supplies
            exactly one comparator matching that field's data type.
          items:
            $ref: '#/components/schemas/InsightsFilter'
          maxItems: 50
          nullable: true
          type: array
        sortBy:
          description: |-
            Order the results by these fields. Use the '-' sign to denote descending order e.g. -MyFieldName.
            Multiple fields can be denoted by a comma e.g. -MyFieldName,AnotherFieldName,-AFurtherFieldName.
          maxLength: 16384
          minLength: 1
          nullable: true
          pattern: "^[\\s\\S]*$"
          type: string
        maxResults:
          description: |-
            The maximum total number of records to capture in the result set; applied as the Luminesce query limit and
            so bounding the work the query performs. The minimum value is 1 and the maximum is 10000; defaults to 500
            when not supplied. The per-page limit then controls how many of these captured records are returned per page.
          format: int32
          maximum: 10000
          minimum: 1
          nullable: true
          type: integer
        limit:
          description: |-
[...]
